/* General */

html, body{
    color: #a4a4a4;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}

/* Fonts */

h1{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    color: white;
}

span{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    color: white;
}

h2{
    color: #00589b;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

h3{
    color: #293133;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

/* Menu */


.overlay-navigation {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.2);
    display: none;
    opacity: 0;
}

nav,
nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

nav ul li {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    display: none;
}

nav li a {
    position: relative;
    top: 46%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0;
}

nav li a:before {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

nav li a:after {
    content: attr(data-content);
    font-size: 1rem;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    opacity: 0;
    position: absolute;
    z-index: 100;
    color: #fff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    bottom: -50px;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 0;
}

nav li a:hover:before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

nav li a:hover:after {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 1;
}

nav li:nth-of-type(1) {
    background-image: url(img/liste-bien.jpg);
    background-size: cover;
    border-right: 1px solid white;
}

nav li:nth-of-type(2) {
    background-image: url(img/decouvrir-lyon/decouvrir-lyon.jpg);
    background-size: cover;
    border-right: 1px solid white;
}

nav li:nth-of-type(3) {
    background-image: url(img/actualites/01.jpg);
    background-size: cover;
    border-right: 1px solid white;
}

nav li:nth-of-type(4) {
    background-image: url(img/produit/pexels-photo-276728.jpeg);
    background-size: cover;
    border-right: 1px solid white;
}

nav li:nth-of-type(5) {
    background-image: url(img/header.jpg);
    background-size: cover;
    border-right: 1px solid white;
}
nav li:nth-of-type(6) {
    background-image: url(img/header-contact.jpg);
    background-size: cover;
}

.open-overlay {
    position: absolute;
    right: 5rem;
    top: 3.2rem;
    z-index: 100;
    width: 34px;
    display: block;
    cursor: pointer;
}

.open-overlay span {
    display: block;
    height: 1px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 8px;
}

.animate-top-bar {
    -webkit-animation: animate-top-bar .1s linear 1 both;
    animation: animate-top-bar .1s linear 1 both
}

.animate-bottom-bar {
    -webkit-animation: animate-bottom-bar .1s linear 1 both;
    animation: animate-bottom-bar .1s linear 1 both
}

.animate-middle-bar {
    -webkit-animation: animate-middle-bar .1s linear 1 both;
    animation: animate-middle-bar .1s linear 1 both
}

.animate-out-top-bar {
    -webkit-animation: animate-out-top-bar .1s linear 1 both;
    animation: animate-out-top-bar .1s linear 1 both
}

.animate-out-bottom-bar {
    -webkit-animation: animate-out-bottom-bar .1s linear 1 both;
    animation: animate-out-bottom-bar .1s linear 1 both
}

.animate-out-middle-bar {
    -webkit-animation: animate-out-middle-bar .1s linear 1 both;
    animation: animate-out-middle-bar .1s linear 1 both
}

@keyframes animate-top-bar {
    0% {
        background-color: #fff;
    }
    50% {
        -webkit-transform: translateY(9px);
        transform: translateY(9px)
    }
    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        background-color: #fff
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-color: white;
    }
}

@keyframes animate-bottom-bar {
    0% {
        background-color: #fff;
    }
    50% {
        -webkit-transform: translateY(-9px);
        transform: translateY(-9px)
    }
    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        background-color: #fff;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-color: white;
    }
}

@keyframes animate-middle-bar {
    0% {
        background-color: #fff;
    }
    80% {
        background-color: #fff;
    }
    100% {
        background-color: white;
    }
}

@keyframes animate-out-top-bar {
    0% {
        background-color: white
    }
    50% {
        -webkit-transform: translateY(9px);
        transform: translateY(9px)
    }
    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        background-color: white
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-color: #FFF;
    }
}

@keyframes animate-out-bottom-bar {
    0% {
        background-color: white
    }
    50% {
        -webkit-transform: translateY(-9px);
        transform: translateY(-9px)
    }
    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        background-color: white;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-color: #FFF;
    }
}

@keyframes animate-out-middle-bar {
    0% {
        background-color: white
    }
    80% {
        background-color: white
    }
    100% {
        background-color: #fff;
    }
}

@media (max-width: 640px) {
    nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    nav ul li {
        height: 20%;
    }

    nav li a:after {
        bottom: -25px;
    }
    nav li a:hover:after {
        transform: translateY(0);
    }
    .open-overlay {
        right: 1rem;
    }
    nav li a:before {
        width: 25px;
    }
}

.overlay-navigation a:hover{
    color: white;
}

/* Header */

header{
    height: 600px;
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button, input[type=button], input[type=submit]{
    width: 100%;
    max-width: 260px;
    height: 60px;
    background-color: #c8192b;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    -webkit-transition: -webkit-box-shadow 300ms ease-in-out;
    -moz-transition: -moz-box-shadow 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out;
    color:#fff;
}

#liste-bien button{
    margin-left: 210px;
}

button:hover, input[type=submit]:hover{
    color: white;
    transition: background-color 300ms ease;
    background-color: #6d0f19;
    border: 1px solid #6d0f19;
}

header button:hover{
    color: white;
    transition: background-color 300ms ease;
    background-color: #6d0f19;
    border: 1px solid #6d0f19;
}

.header{
    position: relative;
}

.text-header{
    position: absolute;
    top: 200px;
}

.recherche h1, .recherche input, .recherche select{
    display: inline;
}

.recherche input, .recherche select{
    background-color: transparent;
    border:none;
    padding-bottom: 5px;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    color: #c8192b;
}

.recherche input:hover, .recherche select:hover{
    color: #6d0f19;
}

.recherche input[type=date]{
    width: 300px;
}

/* Profiler */


#profiler{
    margin-top: 80px;
}

#profiler label{
    color: #293133;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    padding-bottom: 30px;
}

#profiler-description{
    margin-top: 30px;
    margin-bottom: 30px;
}

#profiler input[type="button"], #profiler input[type=submit]{
    margin-top: 0;
    margin-bottom: 80px;
}

input[type="radio"]:checked+img {
    box-shadow: 8px 8px 0px #00589b;
}

#profiler input[type=button], #profiler input[type=submit]{
    background-color: #00589b;
    color: white;
}

#form-2, #form-3, #form-4{
    display: none;
}

.champ-formulaire{
    width: 100%;
    max-width: none;
    height: 60px;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 10px;
}

.text-right{
    padding-right: 0;
}

/* Découvrir Lyon */

.decouvrir-lyon{
    background-image: url(img/decouvrir-lyon/decouvrir-lyon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

@media screen and (max-width: 992px) {
    .decouvrir-lyon {
        height: 100%;
        padding-bottom: 80px;
    }
}

.decouvrir-lyon h2{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    color: white;
}

.decouvrir-lyon p{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.decouvrir-lyon button{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background-color: white;
    color: #c8192b;
}

.decouvrir-lyon button:hover{
    color: #c8192b;
    background-color: #E2E2E2;
    border: 1px solid #e2e2e2;
}

/* Liste biens */

#liste-bien{
    background-color: #f6f6f6;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

#liste-bien i{
    padding-left: 10px;
}

#liste-bien h2{
    margin-top: 80px;
    margin-bottom: 80px;
}

#liste-bien a, #liste-produit a{
    font-weight: bold;
    color: #00589b;
}

#liste-bien button, .filter input[type=submit]{
    background-color: #00589b;
    color: white;
}

#liste-bien button:hover, .filter input[type=submit]:hover{
    color: white;
    background-color: #003565;
    border: 1px solid #003565;
}

a:hover {
    text-decoration: none;
    opacity: 0.5;
}

/* Actualités */

#actualites{
    margin-bottom: 100px;
}

.arrow{
    margin-top: 20px;
    width: 12px;
    height: 22px;
}

#actualites button{
    margin-top :0;
    margin-bottom: 100px;
}

.date{
    color: #c8192b;
    font-weight: bold;
}

#bouton-actualite{
    font-weight: bold;
    color: #c8192b;
}

#actualites h2{
    color: #c8192b;
}


/* Réseaux sociaux */

.picto-rs{
    height: 30px;
    margin-right: 50px;
}

footer{
    background-color: #00589b;
}

footer h2{
    color: white;
}

#rs{
    margin:0;
    padding-top:80px;
    padding-left: 80px;
    padding-right: 80px;
}

#rs p{
    padding-bottom: 45px;
}

#newsletter{
    background-color: #293133;
    padding-top:80px;
    padding-bottom: 100px;
    padding-left: 13%;
}

#newsletter{
    padding-right: 15px;
}

footer input[type=email]{
    background-color: white;
    height: 60px;
    margin-top: 50px;
    max-width: 260px;
    text-transform: none;
    text-align: center;
    color: #293133;
}

footer button{
    background-color: #00589b;
    margin-left: 50px;
}

footer button:hover{
    color: white;
    background-color: #003565;
    border: 1px solid #003565;
}

#mentions{
    background-color: #161b1c;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mentions p{
    margin: 0;
}

/* Page Liste biens */

.header-bien{
    height: 600px;
    background-image: url(img/liste-bien.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.produit{
    margin-bottom: 50px;
}

#titre-page-liste-bien{
    padding-top: 50px;
    margin-bottom: 50px;
}

.filter{
    background-color: #f6f6f6;
    height:100%;
    padding-left: 15px;
    padding-right: 15px;
}


.titre-filtre{
    margin:0;
    margin-top: 50px;
    padding-bottom: 20px;
}


.filter .radio{
    background-color: white;
    border: 1px solid #293133;
}

/*.filter input[type="radio"]:checked+label {
    color: red;
}*/

.filter input, .filter select{
    height: 60px;
    margin-bottom: 50px;
}

.pagination{
    margin-top: 50px;
}

.article{
    margin-bottom: 50px;
}

/* Page detail-bien */

#date{
    color: #cccccc;
}

#prix{
    color: #c8192b;
}

.note{
    display: inline-block;
}

.star{
    width:20px;
    height:20px;
    margin-right: 10px;
}

.left-part{
    margin-top:80px;
    margin-bottom: 30px;
}

#description{
    margin-bottom: 100px;
}

#commentaire h2{
    font-size: 1.8em;
    color: #c8192b;
}

.commentaire-detail h3{
    margin-top:0;
}

#commentaire .star:first-child{
    padding-left: 50px;
}

.commentaire-detail {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 50px;
    padding-top:50px;
}

.commentaire-detail img{
    border-radius: 100%;
}

.a-propos{
    padding:50px;
    background-color: #00589b;
}

.a-propos p{
    padding-bottom:10px;
    color: white;
}

.a-propos h2{
    color:white;
    padding-bottom:50px;
}

.header-description{
    height: 600px;
    background-image: url(img/produit/05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

i{
    padding-right: 10px;
}

.reservation{
    padding: 50px;
    background-color: #cccccc;
    margin-top: 50px;
}

.reservation h2{
    color: #293133;
    margin-top: 0;
    margin-bottom: 30px;
}

.reservation input{
    height: 60px;
    width: 49%;
}

#voyageur{
    width: 100%;
}

.reservation button{
    background-color:#00589b;
}

.reservation p{
    color: #293133;
}

#nuit{
    padding-top: 50px;
}

#total{
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #293133;
}

/* Page actualites */

.header-actualites{
    height: 600px;
    background-image: url(img/actualites/04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.liste-actualite{
    padding-top: 100px;
}

.liste-actualite ul{
    margin-bottom:0;
}

/* Page détail actualités */

.autres-actualites{
    padding-bottom: 50px;
}

.autres-actualites:last-child{
    padding-bottom: 0;
}

.right-part{
    margin-top:-100px;
}

.bloc-autre-actualite h2{
    color: #00589b;
}

/* Profiler */

.bon-reduction{
    padding:50px;
    background-color: #00589b;
}

.bon-reduction p{
    padding-bottom:10px;
    color: white;
}

.bon-reduction h2{
    color:white;
    padding-bottom:50px;
    margin-top :0;
}

.bon-reduction button{
    background-color: white;
    color: #00589b;
}

/* FAQ */

.faq h2{
    color: #293133;
}

.groupe-question{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.last {
    border-bottom: none;
}

/* Login */

.background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.95);

}

.bloc-inscription{
    margin-top:80px;
}

.form{
    background-color: white;
    height: 600px;
    float: right;

}

.form h2{
    margin-bottom: 45px;
    color: #c8192b;
}

.form input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.form button{
    margin-top: 30px;
}

.image-ambiance{
    margin: auto;
    height: 600px;
    background-image: url(img/actualites/04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.input{
    width: 47%;
    display: inline-block;
}


.form h2>i{
    cursor: pointer;
}

header>a>svg{
    width: 300px;
    padding-left: 50px;
    padding-top: 50px;
}

/* Contact */

.contact input, .contact select, .contact textarea{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.contact textarea{
    padding-top: 10px;
}

.contact textarea{
    height: 150px;
}

.contact div{
    padding-left: 0;
}

.contact h3{
    padding-bottom: 50px;
}

.header-contact{
    height: 600px;
    background-image: url(img/header-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Découvrir Lyon */

#decouvrir-lyon header{
    text-align: left;
}

#decouvrir-lyon{
    background-color: white;
}

#content{
    margin-top:-100px;
    background-color: white;
    border-top: 10px solid #293133;
}

/*************************/
/****** Responsive ******/
/***********************/


@media all and (max-width: 544px)
{
    .header-description
    {
        height: 400px;
    }

    .text-header{
        position: absolute;
        top: 50px;
    }

    .right-part{
        margin-top:0;
    }
}