{% extends "base.html.twig" %}

{% block body %}
<div class="container header">
    <div class="row text-header col-sm-8">
        <h1>Espace de connexion</h1>
    </div>
</div>
</header>
{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
{% endblock %}