{% extends 'base.html.twig' %}

{% block title %}Découvrir Lyon{% endblock %}



{% block body %}
    <div class="container header">
        <div class="row text-header col-sm-8 text-left">
            <h1>Découvrir Lyon</h1>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>

    <section id="liste-bien">
        <div class="container">
            <div class="row">
                <h2 class="col-sm-7 col-xs-12">Etiam aliquam faucibus velit, a elementum massa donec.</h2>
                <button  class="col-xs-12 col-sm-3 col-sm-offset-2" onclick="location.href='listebien'">Voir plus de biens</button>
            </div>
            <div class="row">

                {% for listbien in annonces|slice(0, 4)  %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <img style="height: 260px; width: 260px;" src="{{ asset(listbien.firstimage) }}">
                        <h3>{{ listbien.titre }}</h3>
                        <p>{{ listbien.description|slice(0, 50) }}</p>
                        <a href="{{ path('detailbien',{'id' : listbien.id}) }}">Découvrir le bien</a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}