{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block header %}<header class="header-description">{% endblock %}

{% block body %}
    <div class="container header">
        <div class="row text-header col-sm-8">
            <h1>Mentions légales</h1>
        </div>
    </div>
</header>

    <div class="container">
        <div class="row">
            <div class="left-part col-sm-8 col-sm-offset-2">
                <div id="description">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mi ac lobortis dictum. Cras diam felis, consequat ut rhoncus sed, suscipit at magna.</h3>
                    <p>Duis                         Duis sit amet nibh vel turpis auctor eleifend. Phasellus nec gravida ante. Maecenas ullamcorper finibus mattis. Nullam placerat metus eget nunc euismod viverra. Vivamus eget interdum sem. Vestibulum commodo aliquam enim, nec molestie urna sagittis eget. Vestibulum quis laoreet ligula, vel scelerisque ipsum. Integer id venenatis mauris. Maecenas blandit ut neque at commodo. Etiam at eleifend arcu. Sed rutrum libero sit amet laoreet vulputate. Integer id suscipit quam. Pellentesque nec magna vitae diam dignissim pellentesque eu ac ligula. Nulla ut hendrerit nibh. Vivamus placerat euismod mollis. Cras consectetur justo risus, et venenatis diam ultricies eu.</p>
                    sit amet nibh vel turpis auctor eleifend. Phasellus nec gravida ante. Maecenas ullamcorper finibus mattis. Nullam placerat metus eget nunc euismod viverra. Vivamus eget interdum sem. Vestibulum commodo aliquam enim, nec molestie urna sagittis eget. Vestibulum quis laoreet ligula, vel scelerisque ipsum. Integer id venenatis mauris. Maecenas blandit ut neque at commodo. Etiam at eleifend arcu. Sed rutrum libero sit amet laoreet vulputate. Integer id suscipit quam. Pellentesque nec magna vitae diam dignissim pellentesque eu ac ligula. Nulla ut hendrerit nibh. Vivamus placerat euismod mollis. Cras consectetur justo risus, et venenatis diam ultricies eu.
                    Duis sit amet nibh vel turpis auctor eleifend. Phasellus nec gravida ante. Maecenas ullamcorper finibus mattis. Nullam placerat metus eget nunc euismod viverra. Vivamus eget interdum sem. Vestibulum commodo aliquam enim, nec molestie urna sagittis eget. Vestibulum quis laoreet ligula, vel scelerisque ipsum. Integer id venenatis mauris. Maecenas blandit ut neque at commodo. Etiam at eleifend arcu. Sed rutrum libero sit amet laoreet vulputate. Integer id suscipit quam. Pellentesque nec magna vitae diam dignissim pellentesque eu ac ligula. Nulla ut hendrerit nibh. Vivamus placerat euismod mollis. Cras consectetur justo risus, et venenatis diam ultricies eu.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}