<form action="{{ path('newsletter') }}" method="POST">
    {{ form_widget(form.email, {'attr': {'placeholder': 'S\'inscrire'} }) }}

    {{ form_widget(form) }}
    <input type="submit" value="S'inscrire" />

</form>